* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}
main{
  display: inline-block;
  width: 100vw;
  height: 100vh;

}
.container {
  display: flex;
}

header {
  width: 90vw;
  height: 30vh;
  background-image: url(./assets/design1_image1.jpg);
  background-position: 10% 20%;
  background-size: cover;
  padding: 5rem;
  margin: 1rem 3rem 1rem 3rem ;
  border: 10px 25px solid;
}
aside {
  display:  block;
  width: 20%;
  height: 100%; /* para que ocupe toda la altura del contenedor */
  background-color: #f2f2f2; /* color de fondo de ejemplo */
}
.a1 {
  flex: 1; /* para que ocupe todo el ancho restante del contenedor */
  padding: 20px; /* para que haya un poco de espacio entre el aside y el contenido principal */
}
h1 {
  color: white;
  position: relative;
  text-align: center;
}

H2 {
  color: white;
  background-color: black;
  position: relative;
  margin: 1rem 3rem;

  text-align: center;
}
#logo{
    position:relative ;
    top: .5rem; left: 40rem;
    z-index: 1;
    border: 1px black;

}
nav a {
  display: block;
  width: 8rem;
  height: 2.5rem;
  border: 2px solid black;
  padding: 15px;
  margin: 3rem;
  background-color: rgb(219, 233, 219);
}
img{
    margin: 3rem;
}
section p {
    margin-left: 3rem;
  
}
section h3 {
    margin-left: 3rem;
}
div p{
    margin: 1rem 3rem;
}
div a {
    margin-left: 3rem;
}